{extends $originalTemplate}

{block table-class}table table-head-custom table-vertical-center{/block}

{block icon-sort}<i class="flaticon2-arrow-down" style="font-size: 0.6em;"></i>{/block}
{block icon-sort-up}<i class="flaticon2-arrow-up" style="font-size: 0.6em;"></i>{/block}

{block icon-sort-down}<i class="flaticon2-arrow-down" style="font-size: 0.6em;"></i>{/block}